.movieExternalInfo-imdbLink {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.movieExternalInfo-wiki-title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.movieExternalInfo-wikiLink {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
