.searchMoviesResultRow {
  padding: 6px;
}

.searchMoviesResultRow {
  margin: 1em auto;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.searchMoviesResultRow-poster {
  position: relative;
  margin: auto;
  height: 100%;
  width: auto;
  display: flex;
  aspect-ratio: 0.8;
}

.searchMoviesResultRow-poster .moviePoster {
  justify-content: left;
}

.searchMoviesResultRow-data {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.searchMoviesResultRow-data-overview {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  line-clamp: 3;
  padding-left: 1em;
  padding-right: 1em;
}

.searchMoviesResultRow-footer {
  margin-top: auto;
}
.searchMoviesResultRow-data-genres {
  margin-top: auto;
}

.searchMoviesResultRow-score {
  margin-top: auto;
}

.searchMoviesResultRow-score > .movieScoreBar-container {
  padding-bottom: 0;
}
