.searchMoviesResultRow {
  padding: 6px;
}

.searchMoviesResultRow {
  margin: 1em auto;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.searchMoviesResultRow-poster {
  position: relative;
  margin: auto;
  height: 100%;
  width: auto;
  display: flex;
  aspect-ratio: 0.8;
}

.searchMoviesResultRow-poster .moviePoster {
  justify-content: left;
}

.searchMoviesResultRow-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.searchMoviesResultRow-data-title {
  margin: 0.3em 0 0 0;
}

.searchMoviesResultRow-data-overview {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  line-clamp: 4;
}

.searchMoviesResultRow-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchMoviesResultRow-score {
  flex: 1;
}

.searchMoviesResultRow-data-genres {
  flex-grow: 2;
  font-size: min(3vw, 1em);
}

.searchMoviesResultRow-data-flexDummy {
  flex-grow: 1;
}

.searchMoviesResultRow-score > .movieScoreBar-container {
  padding-bottom: 0;
}
