.movieInfo {
  overflow: hidden;
  margin-top: 1em;
  width: 100%;
  display: inline-block;
}

.movieInfo-body {
  text-align: left;
  padding: 1em;
}

.movieInfo-body-cast {
  white-space: pre;
}

.movieInfo-body-cast table {
  table-layout: fixed;
  border-spacing: 0.5em;
}
.movieInfo-body-cast tr {
  white-space: break-spaces;
}

.movieInfo-footerLoadingContainer {
  padding-top: 2em;
  height: 5em;
}

.movieInfo-wiki-title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.movieInfo-wiki-text {
  line-height: 1.4em;
}
