.movieScoreBar-background {
  background-color: var(--primary-component-background-color-lighter);
  height: 100%;
  border-radius: var(--primary-border-radius);
  overflow: hidden;
}

.movieScoreBar-bar {
  height: 100%;
  text-align: center;
}

.movieScoreBar-bar-percentage {
  font-weight: bold;
}
