.movieScoreBar-container {
  display: flex;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-component-background-color-transparent);

  border-radius: var(--primary-border-radius);

  padding-right: 10px;
  padding-left: 10px;
}
.movieScoreBar-text {
  white-space: pre-line;

  padding-right: 10px;
  padding-bottom: 3px;
  text-align: center;
}
