.searchBar-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-component-background-color-transparent);
}

.searchBar {
  min-width: 0;
  width: 100%;
  height: 80%;
  font-size: 1em;
  border: none;
  color: white;
  padding-left: 1em;
  background-color: transparent;
}

.searchBar::placeholder {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.searchBar:hover::placeholder {
  color: var(--primary-text-color);
  opacity: 0.6;
}

.searchBar:focus::placeholder {
  color: var(--primary-text-color);
  opacity: 1;
}

.searchBar:focus-visible {
  outline: none;
}

.searchBar-icon:hover {
  cursor: pointer;
  color: var(--primary-text-color-hover);
}

.searchBar-icon {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 100%;
  padding: 10px;
}
