:root {
  --header-height: 3em;
  --safeZone-width: 100vw;
  --safeZone-width-max: 1000px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  background-color: var(--primary-main-background-color);
}
.App {
  text-align: center;
}

.mainBody {
  max-width: var(--safeZone-width-max);
  width: var(--safeZone-width);
  margin: auto;
  height: calc(100vh - 2 * var(--header-height));
  overflow: visible;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: var(--header-height);
}
