:root {
  --primary-border-radius: 10px;
  --test: #06283c;
  --primary-main-background-color: #353535;
  --primary-component-background-color: #0e6191;
  --primary-component-background-color-lighter: #5690b2;
  --primary-component-background-color-darker: #0a4466;
  --primary-component-background-color-transparent: #00000021;
  --primary-text-color: white;
  --primary-text-color-hover: #169ae6;

  color: var(--primary-text-color);
}

.componentCard {
  background-color: var(--primary-component-background-color);
  border-radius: var(--primary-border-radius);
  box-shadow: 1px 1px var(--primary-component-background-color-lighter);
  border: 1px solid var(--primary-component-background-color-lighter);
}

.page {
  height: fit-content;
  padding-bottom: 3em;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--primary-text-color-hover);
}

.pageHeadText {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* responsive title classes */

.rtitle1 {
  font-weight: bold;
  font-size: max(min(6vw, 2.5em), 1em);
}

.rtitle2 {
  font-weight: bold;
  font-size: max(min(3vw, 1.5em), 1em);
}

/* vertical scrollable class without scrollbar */

.vscrollable {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  min-width: 0;
}

.vscrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}
