:root {
  --primary-border-radius: 10px;
  --test: #06283c;
  --primary-main-background-color: #353535;
  --primary-component-background-color: #0e6191;
  --primary-component-background-color-lighter: #5690b2;
  --primary-component-background-color-darker: #0a4466;
  --primary-text-color: white;
  --primary-text-color-hover: #169ae6;

  color: var(--primary-text-color);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--primary-text-color-hover);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
