.posterPlaceHolder {
  border-radius: var(--primary-border-radius);
  height: 288px;
  width: 192px;
  font-size: 1.5em;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  background-image: radial-gradient(rgb(134, 134, 134), rgb(63, 63, 63) 100%);
  color: whitesmoke;
  text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
}

.posterPlaceHolder span {
  margin-bottom: 1em;
  margin-right: 10px;
  margin-left: 10px;
}
.posterPlaceHolder-icon {
  position: absolute;
  opacity: 0.1;
}
